.menu {
  background-color: #333;
  overflow: hidden;
}

.menu a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu a:hover {
  background-color: #111;
}

body {
  background-color: #222;
  color: #ddd;
}

a {
  color: #00e;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
}
